.e27_86 { 
	overflow:hidden;
}
.e27_86 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e56_3 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/4_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_88 { 
	width:1063px;
	height:764px;
	position:absolute;
	left:428px;
	top:158px;
}
.e27_89 { 
	background-color:rgba(213.00000250339508, 181.0000044107437, 156.00000590085983, 0.699999988079071);
	width:1063px;
	height:764px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e27_89 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e27_99 { 
	width:764px;
	height:103px;
	position:absolute;
	left:150px;
	top:187px;
}
.e27_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:764px;
	height:103px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e27_90 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e27_95 { 
	color:rgba(0, 0, 0, 1);
	width:367px;
	height:58px;
	position:absolute;
	left:23px;
	top:28px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e27_100 { 
	width:764px;
	height:103px;
	position:absolute;
	left:150px;
	top:338px;
}
.e27_91 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:764px;
	height:103px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e27_91 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e27_96 { 
	color:rgba(0, 0, 0, 1);
	width:569px;
	height:58px;
	position:absolute;
	left:23px;
	top:23px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e27_101 { 
	width:764px;
	height:103px;
	position:absolute;
	left:150px;
	top:480px;
}
.e27_102 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:764px;
	height:103px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e27_102 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e27_103 { 
	color:rgba(0, 0, 0, 1);
	width:569px;
	height:58px;
	position:absolute;
	left:23px;
	top:23px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e27_104 { 
	width:431px;
	height:89px;
	position:absolute;
	left:487px;
	top:617px;
}
.e27_93 { 
	color:rgba(0, 0, 0, 1);
	width:405px;
	height:77px;
	position:absolute;
	left:13px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e27_92 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:431px;
	height:89px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e27_92 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e27_94 { 
	color:rgba(0, 0, 0, 1);
	width:607px;
	height:116px;
	position:absolute;
	left:236px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e86_74 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:48px;
	position:absolute;
	left:578px;
	top:781px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
