.e105_45 { 
	overflow:hidden;
}
.e105_45 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e105_47 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url("img/6.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
.e105_46 { 
	background-color:rgba(213.00000250339508, 181.0000044107437, 156.00000590085983, 0.6000000238418579);
	width:1244px;
	height:1080px;
	position:absolute;
	left:338px;
	top:0px;
}
.e105_52 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:456px;
	height:77px;
	position:absolute;
	left:713px;
	top:407px;
}
.e105_52 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e105_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:456px;
	height:77px;
	position:absolute;
	left:713px;
	top:546px;
}
.e105_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e105_48 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e105_48 { 
	width:1244px;
	height:0px;
	position:absolute;
	left:338px;
	top:183px;
}
.e105_49 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:116px;
	position:absolute;
	left:617px;
	top:44px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e105_50 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:77px;
	position:absolute;
	left:535px;
	top:272px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e105_51 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:456px;
	height:77px;
	position:absolute;
	left:713px;
	top:272px;
}
.e105_51 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e105_53 { 
	color:rgba(0, 0, 0, 1);
	width:303px;
	height:77px;
	position:absolute;
	left:383px;
	top:407px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e105_54 { 
	color:rgba(0, 0, 0, 1);
	width:285px;
	height:77px;
	position:absolute;
	left:401px;
	top:540px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e105_57 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:860px;
	height:105px;
	position:absolute;
	left:530px;
	top:774px;
}
.e105_57 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e105_58 { 
	color:rgba(0, 0, 0, 1);
	width:484px;
	height:77px;
	position:absolute;
	left:718px;
	top:788px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
