.e47_322 { 
	overflow:hidden;
}
.e47_322 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e86_54 { 
	width:480px;
	height:1080px;
	position:absolute;
	left:1440px;
	top:0px;
}
.e86_33 { 
	width:480px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url("img/bro/4.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_40 { 
	background-color:rgba(147.68749594688416, 69.70848307013512, 25.845312550663948, 0.6000000238418579);
	width:400px;
	height:82px;
	position:absolute;
	left:19px;
	top:360px;
}
.e86_72 { 
	background-color:rgba(148.000006377697, 70.00000342726707, 26.000000350177288, 0.6000000238418579);
	width:380px;
	height:274px;
	position:absolute;
	left:62px;
	top:759px;
}
.e86_41 { 
	color:rgba(252.87500202655792, 171.44924730062485, 75.86250364780426, 1);
	width:219px;
	height:77px;
	position:absolute;
	left:109px;
	top:362px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e86_73 { 
	color:rgba(0, 0, 0, 1);
	width:324px;
	height:231px;
	position:absolute;
	left:95px;
	top:770px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e86_48 { 
	width:480px;
	height:1103px;
	position:absolute;
	left:0px;
	top:0px;
}
.e86_64 { 
	width:480px;
	height:1103px;
	position:absolute;
	left:0px;
	top:0px;
}
.e86_37 { 
	width:480px;
	height:1103px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url("img/bro/1.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_62 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6000000238418579);
	width:415px;
	height:274px;
	position:absolute;
	left:32px;
	top:759px;
}
.e86_47 { 
	background-color:rgba(155.12500405311584, 144.1369816660881, 144.1369816660881, 0.550000011920929);
	width:443px;
	height:92px;
	position:absolute;
	left:18px;
	top:372px;
}
.e86_46 { 
	color:rgba(23.37500050663948, 12.564062867313623, 12.564062867313623, 1);
	width:363px;
	height:77px;
	position:absolute;
	left:58px;
	top:380px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e86_63 { 
	color:rgba(23.000000528991222, 13.000000175088644, 13.000000175088644, 1);
	width:346px;
	height:231px;
	position:absolute;
	left:75px;
	top:770px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e86_60 { 
	width:480px;
	height:1080px;
	position:absolute;
	left:960px;
	top:0px;
}
.e86_71 { 
	width:480px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e86_39 { 
	width:480px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url("img/bro/3.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_67 { 
	background-color:rgba(150.0000062584877, 111.00000098347664, 89.00000229477882, 0.6000000238418579);
	width:385px;
	height:274px;
	position:absolute;
	left:57px;
	top:759px;
}
.e86_58 { 
	background-color:rgba(149.81249392032623, 111.06098771095276, 89.26328256726265, 0.4000000059604645);
	width:264px;
	height:92px;
	position:absolute;
	left:125px;
	top:372px;
}
.e86_68 { 
	color:rgba(0, 0, 0, 1);
	width:385px;
	height:154px;
	position:absolute;
	left:57px;
	top:770px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e86_61 { 
	color:rgba(63.75, 25.260943807661533, 8.765625189989805, 1);
	width:213px;
	height:77px;
	position:absolute;
	left:150px;
	top:374px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e89_81 { 
	width:480px;
	height:1080px;
	position:absolute;
	left:480px;
	top:0px;
}
.e86_26 { 
	width:480px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url("img/bro/2.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e86_29 { 
	background-color:rgba(107.93228879570961, 190.05469053983688, 225.24999797344208, 0.2800000011920929);
	width:282px;
	height:81px;
	position:absolute;
	left:90px;
	top:372px;
}
.e86_65 { 
	background-color:rgba(108.00000116229057, 190.0000038743019, 225.00000178813934, 0.6000000238418579);
	width:400px;
	height:274px;
	position:absolute;
	left:43px;
	top:759px;
}
.e86_66 { 
	color:rgba(0, 0, 0, 1);
	width:392px;
	height:231px;
	position:absolute;
	left:56px;
	top:770px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e86_30 { 
	color:rgba(151.3022419810295, 16.048176661133766, 154.0625050663948, 1);
	width:275px;
	height:88.36842346191406px;
	position:absolute;
	left:114px;
	top:365px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
