.e104_23 { 
	overflow:hidden;
}
.e104_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e104_24 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:0px;
	background-image:url("img/10.png"); 
	background-repeat:no-repeat;
	background-size:cover;
}
.e104_271 { 
	width:75px;
	height:75px;
	position:absolute;
	left:1802.090576171875px;
	top:21px;
	background-image:url("img/search.png");
	background-repeat:no-repeat;
	background-size:cover;
    z-index: 1  ;
}
.e104_28 { 
	width:1920px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
}
.e104_29 { 
	color:rgba(111.5625, 26.03124987334013, 67.08619058132172, 1);
	width:354px;
	height:116px;
	position:absolute;
	left:47px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e104_30 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e104_30 { 
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:120px;
}
.e104_31 { 
	width:504px;
	height:135px;
	position:absolute;
	left:708px;
	top:767px;
}
.e104_32 { 
	background-color:rgba(213.00000250339508, 181.0000044107437, 156.00000590085983, 0.5600000023841858);
	width:504px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e104_32 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e104_33 { 
	color:rgba(0, 0, 0, 1);
	width:458px;
	height:116px;
	position:absolute;
	left:18px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e104_34 { 
	width:800px;
	height:300px;
	position:absolute;
	left:560px;
	top:261px;
}
.e104_35 { 
	background-color:rgba(111.5625, 74.3749974668026, 74.3749974668026, 0.5);
	width:800px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e104_36 { 
	color:rgba(255, 228.4374949336052, 228.4374949336052, 1);
	width:800px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e104_41 { 
	width:80px;
	height:80px;
	position:absolute;
	left:1662px;
	top:21px;
	background-image:url("img/Human.png");
	background-repeat:no-repeat;
	background-size:cover;
}
