.e20_45 { 
	overflow:hidden;
}
.e20_45 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e20_53 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:0px;
	background-image:url("img/10.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_22 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(213.00000250339508, 181.0000044107437, 156.00000590085983, 0.4000000059604645);
	width:553px;
	height:89px;
	position:absolute;
	left:1337px;
	top:14px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e22_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e22_23 { 
	color:rgba(0, 0, 0, 1);
	width:302.090576171875px;
	height:48px;
	position:absolute;
	left:16px;
	top:20.5px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e24_40 { 
	width:75px;
	height:75px;
	position:absolute;
	left:465.090576171875px;
	top:7px;
	background-image:url("img/search.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.e45_145 { 
	width:1920px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
}
.e45_146 { 
	color:rgba(111.5625, 26.03124987334013, 67.08619058132172, 1);
	width:354px;
	height:116px;
	position:absolute;
	left:47px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e45_147 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e45_147 { 
	width:1920px;
	height:0px;
	position:absolute;
	left:0px;
	top:120px;
}
.e47_167 { 
	width:504px;
	height:135px;
	position:absolute;
	left:708px;
	top:767px;
}
.e47_168 { 
	background-color:rgba(213.00000250339508, 181.0000044107437, 156.00000590085983, 0.5600000023841858);
	width:504px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e47_168 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e47_169 { 
	color:rgba(0, 0, 0, 1);
	width:458px;
	height:116px;
	position:absolute;
	left:18px;
	top:19px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e91_100 { 
	width:800px;
	height:300px;
	position:absolute;
	left:560px;
	top:261px;
}
.e90_91 { 
	background-color:rgba(111.5625, 74.3749974668026, 74.3749974668026, 0.5);
	width:800px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e91_92 { 
	color:rgba(255, 228.4374949336052, 228.4374949336052, 1);
	width:800px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e104_42 { 
	width:516.1456298828125px;
	height:460px;
	position:absolute;
	left:1353px;
	top:120px;
}
.e104_16 { 
	background-color:rgba(213.00000250339508, 181.0000044107437, 156.00000590085983, 0.4000000059604645);
	width:516.1456298828125px;
	height:460px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e104_16 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e104_21 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e104_21 { 
	width:516px;
	height:0px;
	position:absolute;
	left:0px;
	top:363px;
}
.e104_19 { 
	transform: rotate(-0.000005008956538086317deg);
	width:516px;
	height:0px;
	position:absolute;
	left:0px;
	top:229px;
}
.e104_19 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e104_18 { 
	transform: rotate(0.000005008956130975318deg);
	width:516px;
	height:0px;
	position:absolute;
	left:0px;
	top:115px;
}
.e104_18 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e104_41 { 
	width:80px;
	height:80px;
	position:absolute;
	left:1212px;
	top:18px;
	background-image:url("img/Human.png");
	background-repeat:no-repeat;
	background-size:cover;
}
